<div class="search-bar">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <input
        type="text"
        placeholder="Taxi's plate"
        matInput
        formControlName="taxi"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="displayFn"
      >
        <mat-option *ngIf="isTaxisLoading">Loading...</mat-option>
        <ng-container *ngIf="!isTaxisLoading">
          <mat-option *ngFor="let taxi of taxis" [value]="taxi">
            {{ taxi.plate }} 
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="view()">View</button>
    <button mat-raised-button>Export</button>
  </form>
</div>
